.info .text {
  margin-bottom: 0;
}
.info img {
  max-width:5rem;
  margin-bottom: .5rem;
}
.info .item:not(:last-child) {
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .info .list {
    display: flex;
    flex-wrap: wrap;
  }
  .info .item {
    width: 25%;
  }
  .info .item {
    margin-bottom: 0;
  }
  .info .item:nth-child(-n+4) {
    margin-bottom: 3rem;  
  }
}
@media screen and (min-width: 1024px) {

  .info .sub-title {
    margin-bottom: 7rem;
}
  .info .item {
    width: 12.5%;
  }
  .info .item {
    margin-bottom: 0;
  }
}
